name: Run Tests and Send Notifications

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test

      - name: Send success email if tests pass
        if: success()  # Esto solo se ejecutar谩 si las pruebas son exitosas
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: 'smtp.sendgrid.net'
          server_port: 587
          username: 'apikey'  # Siempre 'apikey' como usuario
          password: ${{ secrets.SENDGRID_API_KEY }}
          subject: 'Tests Passed Successfully '
          body: 'El flujo de trabajo de tests se ejecut贸 correctamente en el repositorio.'
          html_body: |
            <h1>隆Los Tests han pasado exitosamente! </h1>
            <p>El flujo de trabajo de tests en el repositorio <strong>${{ github.repository }}</strong> se ejecut贸 correctamente.</p>
            <p>隆Todo est谩 listo para continuar con el despliegue!</p>
          to: 'omar.lopez@vallegrande.edu.pe'  # Direcci贸n verificada
          from: 'omar.lopez@vallegrande.edu.pe'  # Direcci贸n verificada
